* {
  margin: 0;
  padding: 0;

  --darkgray: #1a1a1a;
  --lightgray: #2b2b2b;
  --offwhite: #cbcdcd;
  --loading: linear-gradient(90deg, rgb(59, 59, 59) 0%, rgb(71, 71, 71) 100%);
  --spotifygreen: #1DB954;
  --lightgreen: #CBF55C;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background{
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #D9AFD9;
  background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
}

.login-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #454545;
}

.login-button {
  padding: 30px 45px;
  border-radius: 45px;
  background-color: var(--spotifygreen);
  border-style: none;
  transform: scale(1);

  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.login-button:hover {
  transform: scale(1.03); 
}

.grid-container {
  height: 720px;
  max-width: 1100px;
  width: 85%;
  background-color: var(--lightgray);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: 3fr 9fr;
  
  gap: 15px;

  overflow-y: hidden;
}

aside {
  box-shadow: 1px 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  padding: 10px;
  background-color: var(--darkgray);
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.window-controls {
  height: 20px;
  width: 80px;
  margin-top: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.window-controls-button {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: #b7b7b7;
}

.window-controls:hover > .window-controls-button:nth-child(3) {
  background-color: #33C748;
}
.window-controls:hover > .window-controls-button:nth-child(2) {
  background-color: #FDBC40;
}
.window-controls:hover > .window-controls-button:nth-child(1) {
  background-color: #FC5753;
}

.profile {
  margin: 20px 0 30px 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.profile-img {
  width: 40px;
  border-radius: 50px;
}

.profile-name {
  color: var(--offwhite);
}

.loading-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: var(--loading);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loading-profile-name{
  width: 50%;
  height: 16px;
  border-radius: 8px;
  background: var(--loading);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.parameters{
  margin: 2px auto;
}

.parameter-title{
  font-size: 14;
  margin: 0 0 4px 12px;
  color: #b0b0b0;
}

.buttons-container {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  font-size: 14;
  color: #ffffff;
}

.button-selected,
.button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 98px;
  height: 48px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--lightgray);

  transform: scale(1);
  cursor: pointer;
}

.button-selected,
.button:hover {
  transform: scale(1.02);
  background-color: var(--spotifygreen);
}

main {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;

  overflow: hidden;
}

.main-title {
  color: white;
  font-size: 22px;
  font-weight: 600;

  padding: 20px;
}

.items-container {
  width: 85%;
  height: 85%;
  overflow-y: hidden;
}

.items-container:hover {
  overflow-y: scroll;
}

.items-container::-webkit-scrollbar {
  width: 6px;
  min-height: 20px;
  max-height: 20px;
}

.items-container::-webkit-scrollbar-thumb {
  background-color: var(--darkgray);
  border-radius: 8px;
  opacity: 0;
}

.item {
  width: 90%;
  padding: 10px 40px 10px 20px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.item-index {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  font-weight: 500;
  color: var(--lightgreen)
}

.item-img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.loading-item-img{
  width: 64px;
  height: 64px;
  border-radius: 10px;
  background: var(--loading);
  /* background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(74,74,74,1) 100%); */
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.item-name {
  font-size: 22px;
  font-weight: 500;
  transform: scale(1, 1.03);
  color: var(--lightgreen)
}

.loading-item-name{
  width: 200px;
  height: 25px;
  border-radius: 10px;
  background: var(--loading);
}

.item-artist-container{
  display: flex;
  flex-direction: row;
}

.item-artist {
  font-size: 14px;
  font-weight: 300;
  color: var(--offwhite);

  display: flex;
  flex-direction: row;
}

.loading-artist-name{
  width: 150px;
  height: 15px;
  border-radius: 10px;
  background: var(--loading);
}


/* animations and transitions */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}